<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>

    {% extends "base.html" %}
    {% block title %}Home Page{% endblock %}
   
</head>
<body>
  {% block content %}
  <h1>Welcome to the Password Manager</h1>
  <h3>This is a tool for helping users create and safely store password.</h3>

  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <form method="POST" action="/main">    
      <button type="submit" class="btn btn-primary btn-lg" name="menu_option" value="password_creator">Password Creator</button>
    </form></br>

    <form method="POST" action="/main">    
      <button type="submit" class="btn btn-primary btn-lg" name="menu_option" value="new_account">New Account</button>
    </form>
  </div>  

  {% endblock %}
</body>
</html>