<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Password Creator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% extends "base.html" %}
    {% block title %}Password Creator Page{% endblock %}
  </head>
<body>
  {% block content %}
  <h3>Password Creator</h3></br>

  <form method="POST" action="/password-creator">    
      <label for="input_data">Password length: </label><input type="text" id="input_data" name="length_data"></br></br>
      
      <!--Dropdown to select between add symbols or not-->
      <div class="form-check">Include symbols? </br>
        <input class="form-check-input" type="radio" name="strength_data" id="flexRadioDefault1" value="yes">
        <label class="form-check-label" for="flexRadioDefault1">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="strength_data" id="flexRadioDefault2" value="no">
        <label class="form-check-label" for="flexRadioDefault2">
          No
        </label>
      </div><br>
        
      <button type="submit">Submit</button>
  
      <!--Message for invalid user's input-->
      <label for="message">{{ message }}</label>
    </form>
  
    <!--Flask FLASH code to call the message for invalid user's input-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  
    <!--Created just to check if data were correctly processed-->
    <p>{{ password }}</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  {% endblock %}
</body>
</html>