<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Password Creator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% extends "base.html" %}
    {% block title %}Password Creator Page{% endblock %}
  </head>
  <body>
    {% block content %}
    <h3>Password Creator</h3></br>
    <p>This a tool to help you create a strong password.</p>
    <p>Do not be concerned if you feel that the generated password is too dificult to memorize because our goal is create the strongest password we can to keep safe whatever you want.</p>
    <p>After create your password, you may use our platform to store your password.</p>

    <h6>First, let's start with the lenght of the new password.</h6>
    <p>How many characters do you want on it?</p>
    <p>* Highly recommended to your password to have at least 12 characters.</p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <form method="POST" action="/password-creator">    
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label"></label>
          </div>
          <div class="col-auto">
            <input type="number" id="input_data" class="form-control" aria-describedby="passwordHelpInline" name="length_data">
          </div>
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Must be a number.
            </span>
          </div>
        </div>
        <br><br>
        <!--Radios: Include symbols? Yes or No?-->
        <h6>Second, do you want to include symbols on your new password?</h6>
        <p>* Highly recommended to include symbols in your password to make it stronger.</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="strength_data" id="flexRadioDefault1" value="yes">
          <label class="form-check-label" for="flexRadioDefault1">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="strength_data" id="flexRadioDefault2" value="no">
          <label class="form-check-label" for="flexRadioDefault2">
            No
          </label>
        </div><br>
          
        <button type="submit" class="btn btn-primary btn-lg">Generate a New Password</button>

        <!--Message for invalid user's input-->
        <br><label for="message">{{ message }}</label>
      </form>
    </div>
    
    <!--Flask FLASH code to call the message for invalid user's input-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  
    <!--Created just to check if data were correctly processed-->
    <h6 class="d-grid gap-2 d-md-flex justify-content-md-center">
      {{ password }}
    </h6>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  {% endblock %}
</body>
</html>