<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Login</title>

    {% extends "base.html" %}
    {% block title %}Edit Password{% endblock %}
</head>
<body>
    {% block content %}

    <div class="container min-vh-100 d-sm-block col-sm-3 justify-content-center">
        <h3>Edit Password</h3>
        <form method="POST" action="{{ url_for('views.edit_password', password_id=password.id) }}">
            <!-- Render the existing password details in input fields -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Username</label>
                <input class="form-control" type="text" name="edit_username" value="{{ password.username }}" required>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input class="form-control" type="text" name="edit_password" value="{{ password.password }}" required>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Website</label>
                <input class="form-control" type="text" name="edit_website" value="{{ password.website }}" required>
            </div>
                
            <button type="submit" class="btn btn-primary btn-block mb-4">Save Changes</button>
        </form>
    </div>
    
    {% endblock %}
</body>
</html>